<h2 class = "header whiten">Welcome To African Financials </h2> 
<h4 class = "header whiten"> A Forum for Discussing African Private Equity</h4>
<hr/>

<%= render 'shared/header', title: 'Financial Posts' %>

<% if logged_in? %>
  <p> <%= link_to new_post_path do %> 
  		<button class = "btn btn-success"> <i class="icon-plus"></i> New Post </button>
  </p>
  <% end %>
<% end %>

<% @posts.each do |post| %>
	<%= render 'post', post: post %>
<% end %>



