<h3 class = "header">Welcome To African Financials </h3> 
<h5 class = "header"> A Forum for Discussing African Private Equity</h5>
<hr/>

<%= render 'shared/header', title: 'Financial Posts' %>

<% if logged_in? %>
  <p> <%= link_to new_post_path do %> 
  		<button class = "btn btn-success"> <i class="icon-plus"></i> New Post </button>
  </p>
  <% end %>
<% end %>

<% @posts.each do |post| %>
	<%= render 'post', post: post %>
<% end %>



